* {
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-display {
  width: 100px;
  height: 100px;
  text-align: right;
}

.display {
  border-bottom: 1px lightgray solid;
}

.container {
  border: solid 1px gold;
  margin: 0 10px;
  padding: 20px;
  border-radius: 20px;
}

.btn-line {
  display: flex;
}

.btn {
  border: 1px  lightgray;
  width: 100px;
  height: 50px;
}

.clear {
  margin-top: 20px;
  padding: 5px 8px;
  border: none;
  border-radius: 3px;
  background-color: gold;
}

#equal-sign {
  flex: auto;
  background-color: gold;
}