* {
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-display {
  width: 100px;
  height: 100px;

}
.display {
  /* text-align: right; */
}



.buttons {
  border: solid 1px gold;
  margin: 10px;
  padding: 20px;
  border-radius: 20px;
}

.btn-line {
  display: flex;
}

.btn {
  border: 1px  lightgray;
  width: 50px;
  height: 50px;
}

.clear {
  margin-top: 20px;
  padding: 5px 8px;
  border: none;
  border-radius: 3px;
  background-color: gold;
}